{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 30.066576543647667,
    "longitude": 31.3393512378249,
    "elevation": 100,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Africa/Cairo",
    "external_url": null,
    "internal_url": null,
    "currency": "EGP",
    "country": "EG",
    "language": "en-GB",
    "radius": 13
  }
}